
@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/theme';
@include button.core-styles;

.button-primary {
    @include button.filled-accessible(theme.$primary);
    text-transform: capitalize;

}

.demo-button {
    @include button.horizontal-padding(32px);
    @include button.height(40px);
    @include button.shape-radius(0);
    
}

.error-button {
    @include button.filled-accessible(#ff313b);
}

.neutral-button {
    @include button.filled-accessible(#FDFDFD);
}

.button-secondary {
    text-transform: capitalize;
}

.button-app-bar {
    text-transform: capitalize;
}