<div class="password-reset-container">
    <div class="title-container">
        <h1 mdcHeadline5s
        >Change Your Password</h1>
        <p>Enter your new password and click confirm to change your password.</p>
    </div>
    <mdc-card>
        <form [formGroup]="passwordResetGroup" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <mdc-text-field label="New Password" style="margin-bottom: 16px; width: 100%;" type="password" formControlName="newPassword"></mdc-text-field>
            <mdc-form-field fluid>
                <mdc-text-field label="Confirm New Password" type="password" formControlName="confirmPassword" style="width: 100%"></mdc-text-field>
                <app-helper-text message="These two passwords do not match" [show]="passwordResetGroup.errors?.repeatPassword"></app-helper-text>
            </mdc-form-field>
        </form>
   
    <div class="button-bar">
        <mat-spinner [diameter]="24" *ngIf="loading"></mat-spinner><button mdc-button class="button-primary" (click)="confirmPassword()" [disabled]="passwordResetGroup?.invalid || loading">Confirm</button>

    </div>

    <app-error-card [display]="displayError" (displayError)="resetError()" message="Server Error. Either this link has expired or the server is having a hard time processing your request."></app-error-card>
    </mdc-card>
</div>
