
<mdc-top-app-bar class="top-app-bar" fixed  [fixedAdjustElement]="fixedContent">
    <mdc-top-app-bar-row>
      <section class="responsive-wrapper">
        <mdc-top-app-bar-section align="left">
          <a href="#demo" mdc-button outlined class="button-app-bar button">
            <span mdcButtonLabel>See our Demo</span>
             <mdc-icon>keyboard_arrow_down</mdc-icon>
          </a>
          <a href="#documentation" mdc-button outlined class="button-app-bar button">
            <span mdcButtonLabel>Documentation</span>
            <mdc-icon>keyboard_arrow_down</mdc-icon>
          </a>
          <a href="#features" mdc-button outlined class="button-app-bar button">
            <span mdcButtonLabel>Features</span>
            <mdc-icon>keyboard_arrow_down</mdc-icon>
          </a>

          <a mdc-button outlined class="button-app-bar button" (click)="scrollTo(pricing)">
            <span mdcButtonLabel>Pricing</span>
            <mdc-icon>keyboard_arrow_down</mdc-icon>
          </a>
    
        </mdc-top-app-bar-section>
      </section>
      <mdc-top-app-bar-section align="end">
        <a mdc-button unelevated class="button-primary button" (click)="signup()">
          <span mdcButtonLabel >Sign Up</span>
        </a>
        <a mdc-button outlined (click)="login()" style="height: 44px;">
          Login
        </a>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>
  <div #fixedContent class="body-container">
  
    <section id="demo">
      <app-demo></app-demo>
    </section>
    <section id="features">
      <app-features>
  
      </app-features>
    </section >
    <section id="documentation">
      <app-documentation>
  
      </app-documentation>
    </section>
  
  
  
    <section #pricing>
      <app-pricing></app-pricing>
    </section>
   
  </div>
