<form class="menu-bar" [formGroup]="whitelistFormGroup" #menuForm="ngForm">
    <mdc-form-field fluid class="text-field_100 text-field--restricted__360">
        <mdc-text-field formControlName="whitelist" label="Origin" [placeholder]="placeholder" outlined required
            [errorStateMatcher]="whiteListMatcher">

        </mdc-text-field>
        <span class="text-field--errors"
            *ngIf="whitelistFormGroup.invalid && validationMessage != null">{{validationMessage}}</span>

    </mdc-form-field>


    <mdc-select #originSelect placeholder="Origin Type" formControlName="origin_type" class="select--outlined" outlined
        (selectionChange)="onSelectionChange($event)">
        <mdc-menu [anchorMargin]="{top: 54}" class="select-width">
            <mdc-list>
                <mdc-list-item [value]="origin_type" *ngFor="let origin_type of originTypes">
                    {{origin_type?.origin_name}}
                </mdc-list-item>


            </mdc-list>
        </mdc-menu>
    </mdc-select>
    <button mdc-button unelevated id="create" (click)="create(menuForm)"
        class="bar-button button-primary button--text-field" [disabled]="whitelistFormGroup.invalid || loadingCreate">
        <mdc-button-label>
            Create Address
        </mdc-button-label>
    </button>

    <mat-spinner diameter="20" *ngIf="loadingCreate"></mat-spinner>

</form>
<div>
    <div class="text--title__small text--secondary">Restrict IP Setting</div>
    <mdc-select outlined placeholder="" [formControl]="restrictedControl"
        (selectionChange)="onRestrictSelectionChange($event)" [disabled]="loadingRestrictions">
        <mdc-icon mdcSelectIcon *ngIf="loadingRestrictions">
            <mat-spinner diameter="20"></mat-spinner>
        </mdc-icon>
        <mdc-menu [anchorMargin]="{top: 42}" class="select-width">
            <mdc-list>
                <mdc-list-item value="all">
                    Accept All
                </mdc-list-item>
                <mdc-list-divider></mdc-list-divider>

                <mdc-list-item value="restricted">
                    Restrict to List
                </mdc-list-item>
                <mdc-list-divider></mdc-list-divider>
                <mdc-list-item value="none">
                    Stop All
                </mdc-list-item>
            </mdc-list>
        </mdc-menu>
    </mdc-select>

    <mdc-data-table style="width: 100%; margin-top: 1.25rem;" >
        <table mdcDataTableTable>
            <tr mdcDataTableHeaderRow>
                <th mdcDataTableHeaderCell>Date created</th>
                <th mdcDataTableHeaderCell>Origins</th>
                <th mdcDataTableHeaderCell>Origin Type</th>
                <th mdcDataTableHeaderCell>Settings</th>
            </tr>
            <tbody mdcDataTableContent >
                <tr mdcDataTableRow *ngFor="let whitelist of ($whitelist | async)?.data ">
                    <td mdcDataTableCell>{{whitelist.inserted_at | date: 'MMMM dd, yyyy'}}</td>
                    <td mdcDataTableCell>
                        {{whitelist.ip_address}}
                    </td>

                    <td mdcDataTableCell>
                        {{whitelist.type}}
                    </td>

                    <td mdcDataTableCell>
                        <button mdc-icon-button (click)="delete(whitelist)">
                            <mdc-icon>delete_outline</mdc-icon>
                        </button>
                    </td>


                </tr>
            </tbody>

        </table>
    </mdc-data-table>

</div>