<div class="dialog-content">
    <mdc-icon class="icon--large">{{data?.icon}}</mdc-icon>
<span mdcHeadline5>{{data?.headline}}</span>
<span mdcBody1 class="text--secondary">{{data?.tagline}}</span>
</div>

<mat-dialog-actions align="end">
    <button mdcDialogButton mdcDialogAction="accept" unelevated class="neutral-button" mat-dialog-close>{{data?.cancelText}}</button>
    <button mdcDialogButton mdcDialogAction="accept" unelevated (click)="callback()"  class="error-button" >{{data?.confirmText}}</button>
</mat-dialog-actions>