<div mdcHeadline3>Features</div>
<mdc-list twoLine>
    <mdc-list-item>
        <mdc-list-item-text secondaryText="Hello World">Display Link Previews from any website.</mdc-list-item-text>
    </mdc-list-item>

    
    <mdc-list-item>
        <mdc-list-item-text secondaryText="Hello World">Cache and save web pages</mdc-list-item-text>
    </mdc-list-item>

    
    <mdc-list-item>
        <mdc-list-item-text secondaryText="Hello World">Save Web Pages with our plugin.</mdc-list-item-text>
    </mdc-list-item>

    
    <mdc-list-item>
        <mdc-list-item-text secondaryText="Hello World">Some other feature to justify price.</mdc-list-item-text>
    </mdc-list-item>
</mdc-list>