:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

mdc-card {
    justify-content: center;
    width: 100%;
    max-width: 460px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

button {
    align-self: flex-end;
    margin-top: 16px;
}
h1, p {
    align-self: flex-start;
}



div {
    width: 100%;
    max-width: 460px;
    display: flex;
    align-items: center;
    flex-direction: column;
}