<mdc-card [outlined]="!(isSelected && nickname == ($user | async)?.plan)">


    <div class="card__title">
        <div mdcHeadline5 *ngIf="product?.nickname">{{product.nickname}}</div>
        <p class="card__subtitle" *ngIf="product ?.description">{{product?.description}}</p>
        <div *ngIf="product?.amount >= 0">{{(product?.amount / 100) | currency: 'USD':'symbol'}}/month</div>
    </div>

    <div>
        <ul>
            <li class="price__offerings" mdcBody2 *ngIf="product?.preview_limit">
                {{product?.preview_limit}} requests/hour
            </li>
            <li class="price__offerings" mdcBody2>
                Unlimited IP Whitelisting
            </li>
            <li class="price__offerings" mdcBody2>
                Unlimited Api Keys
            </li>

    
           
            <li *ngIf="product?.overage_fees && product?.overage_fees != 0" class="price__offerings" mdcBody2 >
                additional {{product?.overage_fees}}&#162; gb/month in overage fees
            </li>

            <li class="price__offerings" mdcBody2>
                SSL Requests
            </li>

        </ul>
    </div>

    <div></div>

    <mdc-card-actions>

        <button mdc-button raised class="button-primary__stretched" (click)="subscribe()" [disabled]="isSelected && ($user | async)?.plan == nickname"> 
            <mdc-button-label>
            {{(isSelected && ($user | async)?.data?.plan == nickname)? "Already Subscribed": callToAction || "Subscribe" }}
            </mdc-button-label>
        
        </button>

    </mdc-card-actions>
</mdc-card>