.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    padding-bottom: 20px;
    margin-top: 32px;

}
.load--container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li.price__offerings {
    list-style-image: url("/assets/doughnut.svg");
    margin-bottom: 8px;
}

li.price__offerings:before {
    margin-left: 2px;
}

.card__title {
    text-align: center;
}

p.card__subtitle {
    font-family: unquote("Raleway")
}

@media(max-width: 540px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1rem;
        padding-bottom: 20px;
    
    }
}