<mdc-card [outlined]="!(isSelected && nickname == ($user | async)?.data?.plan)">
    <div class="card__title">
        <div mdcHeadline5 *ngIf="plan?.nickname">{{plan.nickname}}</div>
        <p class="card__subtitle" *ngIf="service?.description">{{service?.description}}</p>
        <div >{{(plan?.amount / 100) | currency: 'USD':'symbol'}}/month</div>
    </div>

    <div>
        <ul>
            <li class="price__offerings" mdcBody2 *ngIf="service?.preview_limit">
                {{service?.preview_limit}} requests/hour

            </li>
            <li class="price__offerings" mdcBody2>
                Unlimited IP Whitelisting
            </li>
            <li class="price__offerings" mdcBody2>
                Unlimited Api Keys
            </li>

            <li class="price__offerings" mdcBody2 *ngIf="cacheLimitPretty">
                {{cacheLimitPretty.limit}}{{cacheLimitPretty.unit}}/month cache storage
            </li>

            <li class="price__offerings" mdcBody2 *ngIf="service?.cache_request_limit">
                {{service.cache_request_limit}} cached web requests
            </li>
            <li *ngIf="service?.overage_fees && service?.overage_fees != 0" class="price__offerings" mdcBody2 >
                additional {{service.overage_fees}}&#162; gb/month in overage fees
            </li>

            <li class="price__offerings">
                SSL Requests
            </li>

        </ul>
    </div>

    <div></div>

    <mdc-card-actions>

        <button mdc-button raised class="button-primary__stretched" (click)="subscribe()" [disabled]="isSelected && ($user | async)?.data?.plan == nickname"> 
            <mdc-button-label>
            {{(isSelected && ($user | async)?.data?.plan == nickname)? "Already Subscribed": callToAction || "Subscribe" }}
            </mdc-button-label>
        
        </button>

    </mdc-card-actions>
</mdc-card>