<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mdc-top-app-bar class="top-app-bar" fixed [scrollTarget]="fixedContent" [fixedAdjustElement]="fixedContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="end">
      <a href="#faq" mdc-button>
        FAQ
      </a>
      <a href="#documentation" mdc-button>
        Documentation
      </a>
      <a href="#features" mdc-button>
        Features
      </a>
      <a mdc-button>
        Get Api Keys
      </a>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<div #fixedContent class="body-container">

  <section id="features">
    <app-features>

    </app-features>
  </section >
  <section id="documentation">
    <app-documentation>

    </app-documentation>
  </section>
  <section id="faq">
    <app-faq></app-faq>
  </section>
 
</div>