<div [mdcElevation]="1" class="signup-holder">
    <mdc-form-field fluid>
        <mdc-text-field label="Email" outlined required>

        </mdc-text-field>
    </mdc-form-field>

    <mdc-form-field fluid>
        <mdc-text-field [type]="showPassword ? 'text' : 'password'" label="Password" outlined required>
            <!-- <button mdcIconButton mdcTextFieldIcon trailing [on]="true" (click)="showPassword = !showPassword">
                    <mdc-icon mdcIconOn>visibility</mdc-icon>
                    <mdc-icon>visibility_off</mdc-icon>
                </button> -->
        </mdc-text-field>
    </mdc-form-field>

    <mdc-form-field>
        <mdc-select placeholder="Price" outlined>
            <mdc-menu [anchorMargin]="{top: 10}">
                <mdc-list>
                    <mdc-list-item *ngFor="let subscription of priceSubscriptions" [value]="subscription.price">
                        {{subscription.name}}
                    </mdc-list-item>
                </mdc-list>
            </mdc-menu>
        </mdc-select>
    </mdc-form-field>
    <span mdcCaption id="login-link">Already a Member? <a [routerLink]="['/']" [queryParams]="{login: true}">Log
            in.</a></span>
    <button mdc-button unelevated>Sign Up</button>

</div>