<form [formGroup]="loginForm">
    <mdc-form-field fluid>
        <mdc-text-field class="text-field--outlined" outlined label="Email" formControlName="email"></mdc-text-field>
    </mdc-form-field>
    <mdc-form-field fluid>
        <mdc-text-field class="text-field--outlined" outlined label="Password"
            [type]="showPassword ? 'text': 'password'"  formControlName="password">
            <button mdcIconButton mdcTextFieldIcon trailing [on]="true" (click)="showPassword = !showPassword">
                <mdc-icon mdcIconOn>visibility</mdc-icon>
                <mdc-icon>visibility_off</mdc-icon>
            </button>
        </mdc-text-field>
    </mdc-form-field>
    <p>
        <a [routerLink]="['/password_reset']" mdcCaption>Forgot my password</a>

    </p>
</form>


<span id="signup-link" mdcCaption>Don't have an account? <a [routerLink]="['/signup']" (click)="close()">Sign Up
        here.</a></span>
<mdc-dialog-actions>
    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
    <button mdcDialogButton mdcDialogAction="accept" unelevated (click)="login()" [disabled]="loginForm.invalid && loading">
        
    <mdc-button-label>
        Log in
    </mdc-button-label>
</button>
</mdc-dialog-actions>