<div class="menu-bar">
    <button mdc-button outlined (click)="create()">
        <mdc-button-label>
            Create Key
        </mdc-button-label>
        <mdc-icon>add</mdc-icon>
    </button>
</div>

<mdc-data-table style="width: 100%">
    <table mdcDataTableTable>
        <tr mdcDataTableHeaderRow>
            <th mdcDataTableHeaderCell>Date created</th>
            <th mdcDataTableHeaderCell>Address</th>
        </tr>
        <tbody mdcDataTableContent>
            <tr mdcDataTableRow *ngFor="let key of ($keys | async)?.data ">
                <td mdcDataTableCell>{{key.inserted_at | date: 'MMMM dd, yyyy'}}</td>
                <td mdcDataTableCell>
                {{key.api_key}} 
                </td>

            </tr>
        </tbody>

    </table>
</mdc-data-table>