
    <div class="menu-bar">
        <button mdc-button outlined id="create" (click)="create()">
            <mdc-button-label>
                Create
            </mdc-button-label>
            <mdc-icon>keyboard_arrow_down</mdc-icon>
        </button>
    </div>
    
    <div class="information-list">
        <table mat-table [dataSource] = "($keys | async)?.data">
            <!--Date created-->
            <ng-container>
                <th mat-header-cell *matHeaderCellDef>Date Created</th>
                <td mat-cell *matCellDef="let element">{{element.inserted_at}}</td>
            </ng-container>

            <ng-container>
                <th mat-header-cell *matHeaderCellDef>Key</th>
                <td mat-cell *matCellDef="let element">{{element.api_key}}</td>
            </ng-container>
        </table>
    </div>
